<html>
<head>
<title>Caculator</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

</head>
<body ng-app="">
<table align=center border=1>
	<tr>
		<td>Enter Number 1</td>
		<td><input type=number ng-model="a"></td>
	</tr>
		<tr>
		<td>Enter Number 2</td>
		<td><input type=number ng-model="b"></td>
	</tr>
	<tr>
	<tr>
		<td>Addition</td>
		<td>{{a+b}} </td>
	</tr>		<td> </td>
	</tr>
		<tr>
		<td>Substraction</td>
		<td>{{a-b}} </td>
	</tr>
		<tr>
		<td>Multiplication</td>
		<td>{{a*b}} </td>
	</tr>
		<tr>
		<td>Division</td>
		<td>{{a/b}} </td>
	</tr>
</table>
</body>
</html>